{% extends 'layout.html.twig' %}
{% block title %} - Detail ORDER {{orderId}} {% endblock %}
{% block content %}
<section id="success" class="container">
    <h1 class="text-center">Detail ORDER {{orderId}}</h1>
    {% set total = 0 %}

    {% for item in ticket %}

    {% set total = total + item.article_id.price * item.qty %}
    {{item.article_id.title}} - {{item.qty}} - Pour un total de {{item.article_id.price * item.qty}} € <br>
    {% endfor %}
    
    Total : {{total}}
</section>
{% endblock %}